h1 {
    text-shadow: 0px 2px grey;
    text-decoration-line: underline;
   
}

p.homeindex {
    font-size: 50px;
    color: #D31010;
    text-decoration-line: underline;
}

#international {
    margin-top: 100px;
    width: 500px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 30px;
    color: white;
    display: block;
    position: center;

}

#bridgelink {
    
    width: 500px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 30px;
    text-align: center;
    color: white;
    display: block;
    position: center;
   
}


div.second {
    
    width: 100%;
    height:1000px;
    background-image: url(https://yourachoice.files.wordpress.com/2014/01/st_-lawrence-college-logo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: relative; 
    margin-top: 100px;
    margin-bottom: 100px;
   
}  

                .dropheader {
                   
                    background-color: #D31010;
                    color: white;
                    padding: 16px;
                    font-size: 20px;
                    font-family: none; 
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }

                .dropdown {
                    position: relative;
                    display: inline-block;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #D31010;
                    z-index: 1;
                }

                .dropdown-content a {
                    color: white;
                    font-size: 20px;
                    font-style: normal;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: inline-block;
                }

                .dropdown-content {
                    background-color: grey;
                    border-radius: 5px;
                    
                }

                .dropdown:hover .dropdown-content {
                    display: block;
                    width: auto;
                }

                 .dropheader {
                    text-align: left;
                    background-color: #D31010;
                    width: auto;
                }

#footer {
   position: relative;
   left: 0;
   bottom: 0;
   padding: 10px;
   height: 50px;
   width: 98.5%;
   border-radius: 5px;
   background-color: grey;
   color: white;
   text-align: center;
}


div.welcomehead {
    
    height: 100px;
    width: 650px;
    background-color: grey;
    border: none;
    border-radius: 3px;
    
}

#welcome {
    
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-size: 40px;
    color: white;
}

div.undermap {
    
    height: 150px;
    width: 600px;
    background-color: grey;
    border: none;
    border-radius: 3px;
    
}

#maptext {
    
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-size: 40px;
    color: white;
}

div.helpful {
    
    height: 250px;
    width: 500px;
    background-color: grey;
    border: none;
    border-radius: 3px;
    
}

#helplinks {
    
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-size: 40px;
    color: white;
}

#links {
    
    text-align: center;
    font-size: 25px;
    color: black;
}





